<div class="hero">

    <div class="hero__backdrop"></div>

    <div class="hero__description">
        <h3>The price of Bitcoin</h3>
        <p class="heading__subtitle">At your command</p>
        <a class="hero__signup-link link--button" href="/register">Sign up now!</a></p>
    </div>
</div>
