<div class="page">

    <section class="page__section--hero">
        {{> hero }}
    </section>

    <section class="page__section--main-content">

        <div class="intro">

            <h2 class="heading">How it works </h2>
            <div class="panel">

                <div class="panel__item">
                    <div class="icon-fab"><span>1</span></div>
                    <div class="panel__img--instruction-1"></div>
                    <div class="panel__text">Hit our API</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>2</span></div>
                    <div class="panel__img--instruction-2"></div>
                    <div class="panel__text">Recevie an SMS with the current Bitcoin exhange rate</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>3</span></div>
                    <div class="panel__img panel__img--instruction-3"></div>
                    <div class="panel__text">...{{!-- (Question mark image)--}}</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>4</span></div>
                    <div class="panel__img panel__img--instruction-4"></div>
                    <div class="panel__text">Profit</div>
                </div>

            </div>
        </div>

    </section>

</div>
