<div class="page intro">

    <section class="page__section--hero">
        {{> hero-svg }}
    </section>

    <section class="page__section--main-content">

        <div class="container">

            <h2 class="heading">How it works </h2>
            <div class="panel">

                <div class="panel__item">
                    <div class="icon-fab"><span>1</span></div>
                    <div class="panel__content panel__content--instruction-1"></div>
                    <div class="panel__item-label">Hit our API</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>2</span></div>
                    <div class="panel__content panel__content--instruction-2"></div>
                    <div class="panel__item-label">Receive an SMS with the current Bitcoin exhange rate</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>3</span></div>
                    <div class="panel__content panel__content--instruction-3"></div>
                    <div class="panel__item-label">...{{!-- (Question mark image)--}}</div>
                </div>

                <div class="panel__item">
                    <div class="icon-fab"><span>4</span></div>
                    <div class="panel__content panel__content--instruction-4"></div>
                    <div class="panel__item-label">Profit</div>
                </div>

            </div>
        </div>

    </section>

</div>

<script src="vendor/gsap/src/minified/TweenMax.min.js"></script>

<script src="app/js/lib/svg-plugins.js"></script>

<script src="app/js/main.js"></script>
