<div class="page">

    <div class="content content--page">

        <div class="page__title-container">
            <h1 class="page__title">Pricing</h1>
            <hr class="page__hr"/>
        </div>

        <div class="container pricing">
            <h2 class="pricing__price">{{centsToCurrency costPerQuery }} / query</h2>

            <p class="pricing__description">
                We believe in simple pricing. For every customer and every query --
                no matter their size and no matter how many -- we charge
                one flat fee.
            </p>
            <a class="pricing__register-btn link--button" href="/register" type="button">
                <span>Get Started</span>
            </a>
        </div>

    </div>

    <i class="page__fine-print">
        *Please note that regardless of how many requests you make, Bitcoin exchange
        rates are only updated once per hour.
    </i>



</div>
