<div class="footer">
    <footer class="toolbar">
        <div class="toolbar__items">
            <span class="footer__item">Copyright &copy; 2015</span>
            <span class="footer__item">Issues? Submit to <a href="https://github.com/BrianSipple/node-markdown/issues"> GitHub.</a>
        </div>
    </footer>
</div>
