<div class="sidenav collapse">

    <header>
        <h2>Bitcoin SMS</h2>
    </header>

    <ul>
        {{#each navLinks}}
            <li class="{{this.class}}"><a href="{{this.href}}">{{this.title}}</a></li>
        {{/each}}
    </ul>

</div>
